.circle-categories{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  &__box{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    position: relative;
    float: left;
    width: 100%;
    background-color: #f9fdfe;
    padding: 42px 25px;
    @include box-sizing(border-box);
  }
  &__item{
    display: block;
    position: relative;
    float: left;
    width: 200px;
    // height: 220px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    @include transition(0.4s);
    p{
      display: block;
      color: #6a6a6a;
      width: 100%;
      float: left;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 30px;
      @include transition(0.4s);
    }

    &--img{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      @include box-sizing(border-box);
      img{
        size: 100%;
        object-fit: contain;
      }
    }

  }
}

.hover-block{
  size: 100%;
  float: left;
  @include transition(0.4s);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  border-radius: 50%;
  opacity: 0.81;
  background-color: rgba(255, 102, 0, 0.81);
  text-align: center;
  background-image: -webkit-linear-gradient(300deg, #e3e3e3 0%, #f60 100%);
  background-image: -o-linear-gradient(300deg, #e3e3e3 0%, #f60 100%);
  background-image: linear-gradient(30deg, #e3e3e3 0%, #f60 100%);
  span{
    position: relative;
    float: none;
    transform: translateY(100%);
    display: inline-block;
    z-index: 100;
    opacity: 1;
    &:after{
      content: "";
      width: 1px;
      height: 61px;
      background-color: #fff;
      display: inline-block;
      transform: rotate(90deg);
    }
    &:before{
      content: "";
      width: 1px;
      height: 61px;
      background-color: #fff;
      display: inline-block;
    }
  }
}


.circle-categories__item:hover .hover-block{
  display: block;
  @include transition(0.4s);
}
