h1{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 51px;
  text-align: center;
}

h2{
  width: 100%;
  color: #343434;
  float: left;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

h3{
  width: 100%;
  float: left;
  text-align: left;
  font-weight: 600;
  color: #7e7e7e;
  font-size: 14px;
  text-transform: uppercase;
  span{
    color: #f60;
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
  }
}


.breadcrumbs{
  width: 100%;
  float: left;
  position: relative;
  padding: 15px 0 15px;
  box-sizing: border-box;
  background-color: #f0fcff;
  @include breakpoint(max-width 670px){
    padding: 15px;
    background-color: #fff;
  }
}

.breadcrumbs__list {
		list-style-type: none;
		float: left;
		padding: 0;
    margin: 0;
    top: 4px;
    position: relative;
		li {
			display: inline-block;
			position: relative;
      font-size: 12px;
      // line-height: 15px;
			color: #757575;
		  font-weight: 400;
      margin: 0 10px 0 12px;
			a {
			  color: #757575;
        font-weight: 400;
			}
			&:first-of-type {
				margin-left: 0;
			}

			&:after {
				content: "";
        background-image: url("../img/icons/shevron.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 10px;
				position: absolute;
				right: -18px;
				bottom: 0;
			}
			&:last-of-type {
        color: #7e7e7e;
				&:after, &:before {
					content: none;
				}
			}

		}
	}


.pagination{
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: #f0fcff;
  ul{
    margin: 0 auto;
    float: none;
    padding: 0;
    display: block;
    width: 26%;
    @include breakpoint(max-width 770px){
      width: 50%;
    }
    @include breakpoint(max-width 670px){
      width: 90%;
    }
    li{
      size: 24px;
      float: none;
      margin: 0 2px;
      list-style-type: none;
      display: inline-block;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 5px;
      a{
        color: #f60;
        font-size: 15px;

      }
      &:first-of-type, &:last-of-type{
        border: none;
      }
    }
    li.active{
      border: 1px solid #f60;
    }
  }
}
